In [1]:
%ls .

 C 드라이브의 볼륨: SSD
 볼륨 일련 번호: BCA4-98AF

 C:\Users\inhoinno\Desktop\Ordered Softeware\2021 봄\빅데이터처리_신현석\HW_BIG 디렉터리

2021-06-02  오후 11:16    <DIR>          .
2021-06-02  오후 11:16    <DIR>          ..
2021-06-02  오후 10:28    <DIR>          .ipynb_checkpoints
2021-05-31  오후 08:41         7,362,645 1920_origin.zip
2021-06-02  오후 11:05    <DIR>          1920_preprocessed
2021-05-31  오후 08:40           378,221 1920_preprocessed.zip
2021-06-02  오후 11:15    <DIR>          1920_processed
2021-06-02  오후 08:48            74,295 2020_1_total.csv
2021-05-31  오후 06:43             8,126 Data_preprocessing_Auto.ipynb
2021-06-02  오후 08:50            58,221 Data_preprocessing1.ipynb
2021-05-31  오후 06:43            92,753 Data_preprocessing1-M45.ipynb
2021-06-02  오후 08:23    <DIR>          Data_preprocessing2-Idxing
2021-06-02  오후 08:59         2,555,166 Data_preprocessing2-Idxing.ipynb
2021-06-02  오후 11:14           222,515 Data_processing_CONCAT_MATPLOT_SEABORNv1_INHOINNO.ipynb
2021-06-02  오후 03:06    <DIR>          Data_processing_reshape_total
2021-06-02  오후 11:16            57,003 Data_processing_reshape_total.ipynb
2021-06-02  오후 10:24            40,153 Data_processing_reshape_total_2.ipynb
2021-05-31  오후 08:48            18,853 preprocessed_notebook.zip
2021-05-31  오후 08:48             1,363 Readme.md
2021-06-02  오후 09:25            38,084 sample.ipynb
2021-06-02  오후 03:00                72 Untitled.ipynb
              14개 파일          10,907,470 바이트
               7개 디렉터리  20,539,920,384 바이트 남음

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## 1. Load Data with Multi-level indexing
pseudo code : 
* for FILE in range(2019_1, 2020_12)
    * FILE = './1920_processed/{year}_{month}_processed.csv'.format(year=Y, month=M) 
    * olddata = newdata
    * newdata = pd.read_csv(FILE,encoding='utf-8')
    * newdata['year'] = Y 
    * newdata['month'] = M
    * newdata = newdata.set_index(['year','month', 'A. 도시명'])
    * newdata.index.names=['year','month','city']
    * newdata = newdata.sort_index()
    * pd.concat([olddata,newdata], axis=0)

In [3]:
Y=2019
M=1
olddata = pd.DataFrame()
newdata = pd.DataFrame()

In [4]:
# File
while(Y<2021):
    FILE = './1920_processed/{year}_{month}_processed.csv'.format(year=Y, month=M) 
    
    # Read CSV
    #if(Y==2019 & M ==1):
    newdata = pd.read_csv(FILE,encoding='utf-8')
    newdata = newdata.drop(columns = newdata.columns[0])
    #else:
        #olddata = newdata
        #newdata = pd.read_csv(FILE,encoding='utf-8')
        #newdata = data.drop(columns = data.columns[0])
        
    #MultiIndexing 
    newdata['year'] = Y
    newdata['month'] = M
    newdata = newdata.set_index(['year','month','A. 도시명'])
    newdata.index.names=['year','month','city']
    newdata = newdata.sort_index()
    
    if (Y==2019 & M ==1):
        olddata = newdata
    else :
        olddata = pd.concat([olddata,newdata], axis = 0)
    print('{0}_{1} fin'.format(Y,M))
    # increment
    if(M + 1 >= 13): # M=12 Next year
        M = 1
        Y += 1
    else :     
        M += 1

2019_1 fin
2019_2 fin
2019_3 fin
2019_4 fin
2019_5 fin
2019_6 fin
2019_7 fin
2019_8 fin
2019_9 fin
2019_10 fin
2019_11 fin
2019_12 fin
2020_1 fin
2020_2 fin
2020_3 fin
2020_4 fin
2020_5 fin
2020_6 fin
2020_7 fin
2020_8 fin
2020_9 fin
2020_10 fin
2020_11 fin
2020_12 fin

In [7]:
olddata

                      B. 업종전체    가구점  가스충전소 가전제품수리점 가전제품판매점    간이주점  간판광고물업  \
year month city
2019 1     강원도         82,677    300     93     465     444     439     505
           경기도        520,472  1,873    372   3,694   1,810   2,997   3,113
           경상남도       152,758    564    151     790     727   1,314     685
           경상북도       125,481    461    163     489     693     409     641
           광주광역시       67,965    214     41     393     339     188     443
...                       ...    ...    ...     ...     ...     ...     ...
2020 12    전라북도        88,047    411    111     573     530     272     511
           제주특별자치도     47,390    191     34     194     250     156     197
           충청남도       106,102    299    130     705     532     544     479
           충청북도        80,408    275     74     495     412     391     383
           합계       2,548,586  7,650  1,611  16,962  10,186  12,219  12,996

                    감정평가사 건강보조식품가게  건어물가게  ...     편의점 피부ㆍ비뇨기과 의원   피부관리업  \
year month city                            ...
2019 1     강원도         29      496    667  ...   1,589         58     951
           경기도        358    2,496    797  ...   9,558        793   7,548
           경상남도        56      988    723  ...   2,804        165   2,399
           경상북도        19      886    658  ...   1,808         98   1,390
           광주광역시       32      397    167  ...   1,010        126   1,406
...                   ...      ...    ...  ...     ...        ...     ...
2020 12    전라북도        39      734    360  ...   1,335         97   1,405
           제주특별자치도     16      180    110  ...   1,200         44     794
           충청남도        38    1,272    635  ...   2,383         99   1,487
           충청북도        32      435    108  ...   1,615         81   1,256
           합계       1,234   13,988  7,381  ...  44,858      4,071  42,168

                      피시방  한방병원ㆍ한의원    한식전문점   헬스클럽   호프전문점   화장품가게   휴대폰가게
year month city
2019 1     강원도        420       357   19,271    205   1,485   1,070     588
           경기도      2,413     3,155   77,957  1,680   7,127   7,771   3,901
           경상남도       678       807   31,752    386   1,539   2,434   1,292
           경상북도       593       635   29,086    343   1,068   1,871   1,086
           광주광역시      426       416    9,558    216   2,406   1,118     588
...                   ...       ...      ...    ...     ...     ...     ...
2020 12    전라북도       391       541   14,620    244   1,124   1,474     722
           제주특별자치도    168       199    9,068    136     605     664     244
           충청남도       452       517   20,013    292   1,391   1,356     886
           충청북도       359       406   15,764    276   1,533     985     551
           합계       9,970    14,947  397,465  8,569  29,002  35,004  18,737

[432 rows x 101 columns]

In [10]:
olddata.loc[(slice('2020','2020'),slice(None),),:]['B. 업종전체'] #2020년 1~12월 지역별 업종전체 사업자 수

year  month  city
2020  1      강원도          85,671
             경기도         558,878
             경상남도        157,493
             경상북도        129,486
             광주광역시        70,997
                          ...
      12     전라북도          88,047
             제주특별자치도       47,390
             충청남도         106,102
             충청북도          80,408
             합계         2,548,586
Name: B. 업종전체, Length: 216, dtype: object

In [13]:
olddata.loc[(slice('2020','2020'),slice(12,12),),:]['B. 업종전체'] #2020년 2월 지역별 업종전체 사업자 수

year  month  city
2020  12     강원도           89,174
             경기도          607,611
             경상남도         164,113
             경상북도         134,420
             광주광역시         73,840
             대구광역시        120,587
             대전광역시         73,542
             부산광역시        166,264
             서울특별시        508,188
             세종특별자치시       14,380
             울산광역시         53,737
             인천광역시        131,544
             전라남도          89,239
             전라북도          88,047
             제주특별자치도       47,390
             충청남도         106,102
             충청북도          80,408
             합계         2,548,586
Name: B. 업종전체, dtype: object

In [29]:
arr = olddata.loc[(slice('2020','2020'),slice(12,12), slice('강원도','충청북도')),:]['B. 업종전체'].values

In [88]:
olddata = olddata.replace('*','0')
olddata = olddata.replace(' * ','0')
olddata = olddata.fillna(0)

In [136]:
olddata.loc[(slice('2020','2020'),slice(12,12), slice('강원도','충청북도')),:]['B. 업종전체'].values.apply

array(['89,174', '607,611', '164,113', '134,420', '73,840', '120,587',
       '73,542', '166,264', '508,188', '14,380', '53,737', '131,544',
       '89,239', '88,047', '47,390', '106,102', '80,408'], dtype=object)

In [133]:
for i in range(0,len(olddata.loc[(slice(None),slice(None), ),:].values)):
    for v in range(0,len(olddata.loc[(slice(None),slice(None), ),:].values[i])):
        olddata.loc[(slice(None),slice(None), ),:].values[i][v] = int(range(0,len(olddata.loc[(slice(None),slice(None), ),:].values[i][v].replace(",",""))

SyntaxError: unexpected EOF while parsing (<ipython-input-133-4f59f98ef1ff>, line 4)

In [135]:
olddata.replace(",","")

corp                  B. 업종전체    가구점  가스충전소 가전제품수리점 가전제품판매점    간이주점  간판광고물업  \
year month city
2019 1     강원도         82,677    300     93     465     444     439     505
           경기도        520,472  1,873    372   3,694   1,810   2,997   3,113
           경상남도       152,758    564    151     790     727   1,314     685
           경상북도       125,481    461    163     489     693     409     641
           광주광역시       67,965    214     41     393     339     188     443
...                       ...    ...    ...     ...     ...     ...     ...
2020 12    전라북도        88,047    411    111     573     530     272     511
           제주특별자치도     47,390    191     34     194     250     156     197
           충청남도       106,102    299    130     705     532     544     479
           충청북도        80,408    275     74     495     412     391     383
           합계       2,548,586  7,650  1,611  16,962  10,186  12,219  12,996

corp                감정평가사 건강보조식품가게  건어물가게  ...     편의점 피부ㆍ비뇨기과 의원   피부관리업  \
year month city                            ...
2019 1     강원도         29      496    667  ...   1,589         58     951
           경기도        358    2,496    797  ...   9,558        793   7,548
           경상남도        56      988    723  ...   2,804        165   2,399
           경상북도        19      886    658  ...   1,808         98   1,390
           광주광역시       32      397    167  ...   1,010        126   1,406
...                   ...      ...    ...  ...     ...        ...     ...
2020 12    전라북도        39      734    360  ...   1,335         97   1,405
           제주특별자치도     16      180    110  ...   1,200         44     794
           충청남도        38    1,272    635  ...   2,383         99   1,487
           충청북도        32      435    108  ...   1,615         81   1,256
           합계       1,234   13,988  7,381  ...  44,858      4,071  42,168

corp                  피시방  한방병원ㆍ한의원    한식전문점   헬스클럽   호프전문점   화장품가게   휴대폰가게
year month city
2019 1     강원도        420       357   19,271    205   1,485   1,070     588
           경기도      2,413     3,155   77,957  1,680   7,127   7,771   3,901
           경상남도       678       807   31,752    386   1,539   2,434   1,292
           경상북도       593       635   29,086    343   1,068   1,871   1,086
           광주광역시      426       416    9,558    216   2,406   1,118     588
...                   ...       ...      ...    ...     ...     ...     ...
2020 12    전라북도       391       541   14,620    244   1,124   1,474     722
           제주특별자치도    168       199    9,068    136     605     664     244
           충청남도       452       517   20,013    292   1,391   1,356     886
           충청북도       359       406   15,764    276   1,533     985     551
           합계       9,970    14,947  397,465  8,569  29,002  35,004  18,737

[432 rows x 101 columns]

In [130]:
b= ['1','2','3']
for x in range(0,len(b)):
    b[x] = int(b[x])
b

[1, 2, 3]

In [129]:
?list.size

Object `list.size` not found.

In [118]:
olddata.loc[(slice(None),slice(None), ),:].values

array([['82,677', '300', '93', ..., '1,485', '1,070', '588'],
       ['520,472', '1,873', '372', ..., '7,127', '7,771', '3,901'],
       ['152,758', '564', '151', ..., '1,539', '2,434', '1,292'],
       ...,
       ['106,102', '299', '130', ..., '1,391', '1,356', '886'],
       ['80,408', '275', '74', ..., '1,533', '985', '551'],
       ['2,548,586', '7,650', '1,611', ..., '29,002', '35,004', '18,737']],
      dtype=object)

array(['89,174', '607,611', '164,113', '134,420', '73,840', '120,587',
       '73,542', '166,264', '508,188', '14,380', '53,737', '131,544',
       '89,239', '88,047', '47,390', '106,102', '80,408'], dtype=object)

In [89]:
olddata.to_csv('./COVID_BigTable.csv',sep=',',encoding='utf-8')

In [90]:
olddata.columns.names = ['corp']

In [91]:
pd.DataFrame(olddata.stack(level=-1)).to_csv('./COVID_BigTable(stack).csv',sep=',',encoding='utf-8')

In [58]:
total=0
for x in arr:
    total += int(x.replace(",",""))

print(total , olddata.loc[(slice('2020','2020'),slice(12,12), slice('합계','합계')),:]['B. 업종전체'].values[0].replace(",",""))

2548586 2548586

corp                  B. 업종전체    가구점  가스충전소 가전제품수리점 가전제품판매점    간이주점  간판광고물업  \
year month city
2019 1     강원도         82,677    300     93     465     444     439     505
           경기도        520,472  1,873    372   3,694   1,810   2,997   3,113
           경상남도       152,758    564    151     790     727   1,314     685
           경상북도       125,481    461    163     489     693     409     641
           광주광역시       67,965    214     41     393     339     188     443
...                       ...    ...    ...     ...     ...     ...     ...
2020 12    전라북도        88,047    411    111     573     530     272     511
           제주특별자치도     47,390    191     34     194     250     156     197
           충청남도       106,102    299    130     705     532     544     479
           충청북도        80,408    275     74     495     412     391     383
           합계       2,548,586  7,650  1,611  16,962  10,186  12,219  12,996

corp                감정평가사 건강보조식품가게  건어물가게  ...     편의점 피부ㆍ비뇨기과 의원   피부관리업  \
year month city                            ...
2019 1     강원도         29      496    667  ...   1,589         58     951
           경기도        358    2,496    797  ...   9,558        793   7,548
           경상남도        56      988    723  ...   2,804        165   2,399
           경상북도        19      886    658  ...   1,808         98   1,390
           광주광역시       32      397    167  ...   1,010        126   1,406
...                   ...      ...    ...  ...     ...        ...     ...
2020 12    전라북도        39      734    360  ...   1,335         97   1,405
           제주특별자치도     16      180    110  ...   1,200         44     794
           충청남도        38    1,272    635  ...   2,383         99   1,487
           충청북도        32      435    108  ...   1,615         81   1,256
           합계       1,234   13,988  7,381  ...  44,858      4,071  42,168

corp                  피시방  한방병원ㆍ한의원    한식전문점   헬스클럽   호프전문점   화장품가게   휴대폰가게
year month city
2019 1     강원도        420       357   19,271    205   1,485   1,070     588
           경기도      2,413     3,155   77,957  1,680   7,127   7,771   3,901
           경상남도       678       807   31,752    386   1,539   2,434   1,292
           경상북도       593       635   29,086    343   1,068   1,871   1,086
           광주광역시      426       416    9,558    216   2,406   1,118     588
...                   ...       ...      ...    ...     ...     ...     ...
2020 12    전라북도       391       541   14,620    244   1,124   1,474     722
           제주특별자치도    168       199    9,068    136     605     664     244
           충청남도       452       517   20,013    292   1,391   1,356     886
           충청북도       359       406   15,764    276   1,533     985     551
           합계       9,970    14,947  397,465  8,569  29,002  35,004  18,737

[432 rows x 101 columns]

In [87]:
#olddata.loc[(slice(None),slice(None),), :][]
#idx = pd.IndexSlice()
M+=1 
olddata.loc[(slice('2019'), slice(M),),:]
olddata.loc[(slice('2020'),slice(M-1,M),),:]['교습소･공부방']

year  month  city
2019  11     강원도           900
             경기도         8,266
             경상남도        2,066
             경상북도        1,745
             광주광역시         741
                         ...
2020  12     전라북도           872
             제주특별자치도        653
             충청남도         1,341
             충청북도         1,056
             합계          39,424
Name: 교습소･공부방, Length: 72, dtype: object

In [6]:
olddata.columns

Index(['B. 업종전체', '가구점', '가스충전소', '가전제품수리점', '가전제품판매점', '간이주점', '간판광고물업',
       '감정평가사', '건강보조식품가게', '건어물가게',
       ...
       '편의점', '피부ㆍ비뇨기과 의원', '피부관리업', '피시방', '한방병원ㆍ한의원', '한식전문점', '헬스클럽',
       '호프전문점', '화장품가게', '휴대폰가게'],
      dtype='object', length=101)

In [40]:
olddata.isna().values == True

array([[False, False, False, ...,  True,  True,  True],
       [False, False, False, ...,  True,  True,  True],
       [False, False, False, ...,  True,  True,  True],
       ...,
       [False, False,  True, ...,  True, False,  True],
       [False, False,  True, ...,  True, False,  True],
       [False, False,  True, ...,  True, False,  True]])

In [6]:
ax=0
bx=10
olddata['업종'][0:10]

KeyError: '업종'

In [89]:
olddata['업종'][ax:bx]
ax= bx
bx+=10
olddata['업종'][ax:bx]

Series([], Name: 업종, dtype: object)

In [91]:
FILE = './1920_processed/2019_11_processed.csv'.format(year=Y, month=M) 
    
    # Read CSV
    #if(Y==2019 & M ==1):
data = pd.read_csv(FILE,encoding='utf-8')

In [92]:
data

,Unnamed: 0,A. 도시명,LPG 충전소,PC방,가구점,가전제품수리점,가전제품판매점,간이주점,간판광고물업,감정평가사,...,펜션ㆍ게스트하우스,편의점,피부ㆍ비뇨기과 의원,피부관리업,한방병원ㆍ한의원,한식전문점,헬스클럽,호프전문점,화장품가게,휴대폰가게
0,0,합계,"1,607","10,185","7,522","15,266","10,098","14,619","12,995","1,171",...,"13,545","41,815","3,915","37,673","14,856","387,597","7,716","33,423","35,228","18,161"
1,1,서울특별시,75,"1,646","1,024","2,416","1,531","4,726","2,663",255,...,725,"8,004","1,343","7,308","3,701","53,543","1,855","7,011","6,721","3,085"
2,2,인천광역시,68,519,300,"1,089",369,"1,517",550,78,...,618,"2,220",174,"2,152",697,"17,866",417,"1,747","1,434",938
3,3,경기도,370,"2,361","1,916","4,486","1,935","2,880","3,185",376,...,"1,815","10,381",823,"8,830","3,231","80,225","1,858","6,911","7,912","4,037"
4,4,강원도,96,431,303,528,469,429,514,33,...,"2,292","1,696",58,"1,074",366,"19,583",221,"1,400","1,114",615
5,5,대전광역시,38,326,211,517,305,75,395,30,...,19,"1,155",112,"1,197",523,"11,712",251,965,"1,261",645
6,6,충청북도,75,341,288,466,435,471,377,29,...,382,"1,494",77,"1,125",406,"15,360",269,"1,763","1,062",542
7,7,충청남도,127,439,295,647,533,668,457,36,...,"1,221","2,218",99,"1,340",525,"19,606",271,"1,602","1,303",858
8,8,세종특별자치시,4,43,24,70,40,15,27,12,...,5,261,15,168,75,"2,086",38,153,150,71
9,9,광주광역시,38,409,217,448,347,193,438,37,...,23,"1,043",124,"1,598",413,"9,904",229,"2,314","1,170",573
10,10,전라북도,108,417,396,495,531,325,499,38,...,405,"1,230",90,"1,212",540,"14,256",231,"1,357","1,471",719
11,11,전라남도,122,363,271,499,579,248,474,18,...,724,"1,159",75,"1,398",395,"17,639",170,"2,319","1,057",595
12,12,대구광역시,44,571,368,725,521,281,775,55,...,38,"1,574",201,"1,624",887,"19,631",378,586,"2,141","1,017"
13,13,경상북도,164,572,472,548,701,389,656,20,...,"1,175","1,955",103,"1,599",646,"29,444",358,"1,042","1,877","1,059"
14,14,부산광역시,57,641,512,939,612,931,834,58,...,165,"2,475",328,"2,725","1,148","24,489",519,"1,818","2,462","1,360"
15,15,울산광역시,30,269,180,301,200,112,260,19,...,126,915,77,828,285,"10,949",127,346,974,494
16,16,경상남도,155,666,550,896,746,"1,183",698,62,...,"1,322","2,900",173,"2,775",820,"32,537",416,"1,451","2,430","1,319"
17,17,제주특별자치도,36,171,195,196,244,176,193,15,...,"2,490","1,135",43,720,198,"8,767",108,638,689,234

In [7]:
newdata

,A. 도시명,B. 업종전체,가구점,가스충전소,가전제품수리점,가전제품판매점,간이주점,간판광고물업,감정평가사,건강보조식품가게,...,편의점,피부ㆍ비뇨기과 의원,피부관리업,피시방,한방병원ㆍ한의원,한식전문점,헬스클럽,호프전문점,화장품가게,휴대폰가게
0,합계,"2,295,565","7,450","1,605","13,299","9,817","15,649","12,897","1,115","13,024",...,"39,366","3,794","33,073","10,480","14,695","378,724","7,144","34,777","34,962","17,954"
1,서울특별시,"458,980","1,015",76,"2,183","1,495","5,138","2,704",240,"2,080",...,"7,803","1,294","6,690","1,731","3,679","52,736","1,704","7,403","6,811","2,986"
2,인천광역시,"115,817",292,70,958,353,"1,640",544,73,617,...,"2,088",167,"1,880",539,679,"17,058",381,"1,824","1,449",904
3,경기도,"520,472","1,873",372,"3,694","1,810","2,997","3,113",358,"2,496",...,"9,558",793,"7,548","2,413","3,155","77,957","1,680","7,127","7,771","3,901"
4,강원도,"82,677",300,93,465,444,439,505,29,496,...,"1,589",58,951,420,357,"19,271",205,"1,485","1,070",588
5,대전광역시,"68,001",214,38,478,298,73,394,29,439,...,"1,068",109,"1,083",332,527,"11,507",224,"1,016","1,220",680
6,충청북도,"74,301",287,75,402,425,476,378,28,439,...,"1,411",72,974,329,401,"15,008",249,"1,812","1,032",539
7,충청남도,"97,599",308,128,556,514,722,453,35,"1,201",...,"2,074",95,"1,167",431,522,"19,065",264,"1,728","1,287",845
8,세종특별자치시,"11,313",20,4,47,37,18,31,12,34,...,231,14,140,42,75,"1,928",36,165,131,74
9,광주광역시,"67,965",214,41,393,339,188,443,32,397,...,"1,010",126,"1,406",426,416,"9,558",216,"2,406","1,118",588
10,전라북도,"82,317",391,101,466,530,369,491,41,701,...,"1,163",89,"1,043",448,538,"13,973",213,"1,377","1,399",733
11,전라남도,"82,774",267,125,456,576,259,459,18,499,...,"1,071",72,"1,227",375,402,"17,262",162,"2,458","1,057",619
12,대구광역시,"110,847",371,44,653,518,310,777,55,590,...,"1,441",202,"1,395",587,880,"19,565",355,587,"2,167","1,005"
13,경상북도,"125,481",461,163,489,693,409,641,19,886,...,"1,808",98,"1,390",593,635,"29,086",343,"1,068","1,871","1,086"
14,부산광역시,"152,670",512,58,813,622,"1,023",837,56,801,...,"2,346",325,"2,453",662,"1,143","23,703",490,"1,839","2,496","1,396"
15,울산광역시,"50,134",180,30,281,195,108,256,20,208,...,843,76,695,297,287,"10,801",132,353,955,505
16,경상남도,"152,758",564,151,790,727,"1,314",685,56,988,...,"2,804",165,"2,399",678,807,"31,752",386,"1,539","2,434","1,292"
17,제주특별자치도,"41,459",181,36,175,241,166,186,14,152,...,"1,058",39,632,177,192,"8,494",104,590,694,213

In [9]:
newdata.index

RangeIndex(start=0, stop=18, step=1)

In [10]:
newdata.columns

Index(['A. 도시명', 'B. 업종전체', '가구점', '가스충전소', '가전제품수리점', '가전제품판매점', '간이주점',
       '간판광고물업', '감정평가사', '건강보조식품가게',
       ...
       '피부관리업', '피시방', '한방병원ㆍ한의원', '한식전문점', '헬스클럽', '호프전문점', '화장품가게', '휴대폰가게',
       'year', 'month'],
      dtype='object', length=104)

In [11]:
    newdata['year'] = Y
    newdata['month'] = M
    newdata = newdata.set_index(['year','month','A. 도시명'])
    newdata.index.names=['year','month','city']
    newdata = newdata.sort_index()

In [12]:
newdata

                      B. 업종전체    가구점  가스충전소 가전제품수리점 가전제품판매점    간이주점  간판광고물업  \
year month city
2019 1     강원도         82,677    300     93     465     444     439     505
           경기도        520,472  1,873    372   3,694   1,810   2,997   3,113
           경상남도       152,758    564    151     790     727   1,314     685
           경상북도       125,481    461    163     489     693     409     641
           광주광역시       67,965    214     41     393     339     188     443
           대구광역시      110,847    371     44     653     518     310     777
           대전광역시       68,001    214     38     478     298      73     394
           부산광역시      152,670    512     58     813     622   1,023     837
           서울특별시      458,980  1,015     76   2,183   1,495   5,138   2,704
           세종특별자치시     11,313     20      4      47      37      18      31
           울산광역시       50,134    180     30     281     195     108     256
           인천광역시      115,817    292     70     958     353   1,640     544
           전라남도        82,774    267    125     456     576     259     459
           전라북도        82,317    391    101     466     530     369     491
           제주특별자치도     41,459    181     36     175     241     166     186
           충청남도        97,599    308    128     556     514     722     453
           충청북도        74,301    287     75     402     425     476     378
           합계       2,295,565  7,450  1,605  13,299   9,817  15,649  12,897

                    감정평가사 건강보조식품가게  건어물가게  ...     편의점 피부ㆍ비뇨기과 의원   피부관리업  \
year month city                            ...
2019 1     강원도         29      496    667  ...   1,589         58     951
           경기도        358    2,496    797  ...   9,558        793   7,548
           경상남도        56      988    723  ...   2,804        165   2,399
           경상북도        19      886    658  ...   1,808         98   1,390
           광주광역시       32      397    167  ...   1,010        126   1,406
           대구광역시       55      590    162  ...   1,441        202   1,395
           대전광역시       29      439    113  ...   1,068        109   1,083
           부산광역시       56      801    507  ...   2,346        325   2,453
           서울특별시      240    2,080    752  ...   7,803      1,294   6,690
           세종특별자치시     12       34     14  ...     231         14     140
           울산광역시       20      208    126  ...     843         76     695
           인천광역시       73      617    368  ...   2,088        167   1,880
           전라남도        18      499    888  ...   1,071         72   1,227
           전라북도        41      701    350  ...   1,163         89   1,043
           제주특별자치도     14      152    111  ...   1,058         39     632
           충청남도        35    1,201    630  ...   2,074         95   1,167
           충청북도        28      439    110  ...   1,411         72     974
           합계       1,115   13,024  7,143  ...  39,366      3,794  33,073

                       피시방 한방병원ㆍ한의원    한식전문점   헬스클럽   호프전문점   화장품가게   휴대폰가게
year month city
2019 1     강원도         420      357   19,271    205   1,485   1,070     588
           경기도       2,413    3,155   77,957  1,680   7,127   7,771   3,901
           경상남도        678      807   31,752    386   1,539   2,434   1,292
           경상북도        593      635   29,086    343   1,068   1,871   1,086
           광주광역시       426      416    9,558    216   2,406   1,118     588
           대구광역시       587      880   19,565    355     587   2,167   1,005
           대전광역시       332      527   11,507    224   1,016   1,220     680
           부산광역시       662    1,143   23,703    490   1,839   2,496   1,396
           서울특별시     1,731    3,679   52,736  1,704   7,403   6,811   2,986
           세종특별자치시      42       75    1,928     36     165     131      74
           울산광역시       297      287   10,801    132     353     955     505
           인천광역시       539      679   17,058    381   1,824   1,449     904
           전라남도        375      402   17,262    162   2,458   1,057     619
           전라북도        448      538   13,973    213   1,377   1,399     733
           제주특별자치도     177      192    8,494    104     590     694     213
           충청남도        431      522   19,065    264   1,728   1,287     845
           충청북도        329      401   15,008    249   1,812   1,032     539
           합계       10,480   14,695  378,724  7,144  34,777  34,962  17,954

[18 rows x 101 columns]

## 2. Multi-Indexing 
* data = data.set_index(['year','month', 'A. 도시명'])
* data.index.names=['year','month','city']

In [5]:
data.index

RangeIndex(start=0, stop=18, step=1)

In [6]:
data.columns

Index(['A. 도시명', 'B. 업종전체', '가구점', '가스충전소', '가전제품수리점', '가전제품판매점', '간이주점',
       '간판광고물업', '감정평가사', '건강보조식품가게',
       ...
       '편의점', '피부ㆍ비뇨기과 의원', '피부관리업', '피시방', '한방병원ㆍ한의원', '한식전문점', '헬스클럽',
       '호프전문점', '화장품가게', '휴대폰가게'],
      dtype='object', length=102)

In [7]:
data['year'] = Y
data['month'] = M

In [8]:
data = data.set_index(['year','month', 'A. 도시명'])
data.index.names=['year','month','city']
data

                      B. 업종전체    가구점  가스충전소 가전제품수리점 가전제품판매점    간이주점  간판광고물업  \
year month city
2019 1     합계       2,295,565  7,450  1,605  13,299   9,817  15,649  12,897
           서울특별시      458,980  1,015     76   2,183   1,495   5,138   2,704
           인천광역시      115,817    292     70     958     353   1,640     544
           경기도        520,472  1,873    372   3,694   1,810   2,997   3,113
           강원도         82,677    300     93     465     444     439     505
           대전광역시       68,001    214     38     478     298      73     394
           충청북도        74,301    287     75     402     425     476     378
           충청남도        97,599    308    128     556     514     722     453
           세종특별자치시     11,313     20      4      47      37      18      31
           광주광역시       67,965    214     41     393     339     188     443
           전라북도        82,317    391    101     466     530     369     491
           전라남도        82,774    267    125     456     576     259     459
           대구광역시      110,847    371     44     653     518     310     777
           경상북도       125,481    461    163     489     693     409     641
           부산광역시      152,670    512     58     813     622   1,023     837
           울산광역시       50,134    180     30     281     195     108     256
           경상남도       152,758    564    151     790     727   1,314     685
           제주특별자치도     41,459    181     36     175     241     166     186

                    감정평가사 건강보조식품가게  건어물가게  ...     편의점 피부ㆍ비뇨기과 의원   피부관리업  \
year month city                            ...
2019 1     합계       1,115   13,024  7,143  ...  39,366      3,794  33,073
           서울특별시      240    2,080    752  ...   7,803      1,294   6,690
           인천광역시       73      617    368  ...   2,088        167   1,880
           경기도        358    2,496    797  ...   9,558        793   7,548
           강원도         29      496    667  ...   1,589         58     951
           대전광역시       29      439    113  ...   1,068        109   1,083
           충청북도        28      439    110  ...   1,411         72     974
           충청남도        35    1,201    630  ...   2,074         95   1,167
           세종특별자치시     12       34     14  ...     231         14     140
           광주광역시       32      397    167  ...   1,010        126   1,406
           전라북도        41      701    350  ...   1,163         89   1,043
           전라남도        18      499    888  ...   1,071         72   1,227
           대구광역시       55      590    162  ...   1,441        202   1,395
           경상북도        19      886    658  ...   1,808         98   1,390
           부산광역시       56      801    507  ...   2,346        325   2,453
           울산광역시       20      208    126  ...     843         76     695
           경상남도        56      988    723  ...   2,804        165   2,399
           제주특별자치도     14      152    111  ...   1,058         39     632

                       피시방 한방병원ㆍ한의원    한식전문점   헬스클럽   호프전문점   화장품가게   휴대폰가게
year month city
2019 1     합계       10,480   14,695  378,724  7,144  34,777  34,962  17,954
           서울특별시     1,731    3,679   52,736  1,704   7,403   6,811   2,986
           인천광역시       539      679   17,058    381   1,824   1,449     904
           경기도       2,413    3,155   77,957  1,680   7,127   7,771   3,901
           강원도         420      357   19,271    205   1,485   1,070     588
           대전광역시       332      527   11,507    224   1,016   1,220     680
           충청북도        329      401   15,008    249   1,812   1,032     539
           충청남도        431      522   19,065    264   1,728   1,287     845
           세종특별자치시      42       75    1,928     36     165     131      74
           광주광역시       426      416    9,558    216   2,406   1,118     588
           전라북도        448      538   13,973    213   1,377   1,399     733
           전라남도        375      402   17,262    162   2,458   1,057     619
           대구광역시       587      880   19,565    355     587   2,167   1,005
           경상북도        593      635   29,086    343   1,068   1,871   1,086
           부산광역시       662    1,143   23,703    490   1,839   2,496   1,396
           울산광역시       297      287   10,801    132     353     955     505
           경상남도        678      807   31,752    386   1,539   2,434   1,292
           제주특별자치도     177      192    8,494    104     590     694     213

[18 rows x 101 columns]

### 2.1 Pandas Index Slice
* idx = pd.IndexSlice

In [36]:
idx = pd.IndexSlice # 인덱스 객체 생성
data = data.sort_index()
data.loc[(slice(None),slice(None),), :]

                      B. 업종전체    가구점  가스충전소 가전제품수리점 가전제품판매점    간이주점  간판광고물업  \
year month city
2019 1     강원도         82,677    300     93     465     444     439     505
           경기도        520,472  1,873    372   3,694   1,810   2,997   3,113
           경상남도       152,758    564    151     790     727   1,314     685
           경상북도       125,481    461    163     489     693     409     641
           광주광역시       67,965    214     41     393     339     188     443
           대구광역시      110,847    371     44     653     518     310     777
           대전광역시       68,001    214     38     478     298      73     394
           부산광역시      152,670    512     58     813     622   1,023     837
           서울특별시      458,980  1,015     76   2,183   1,495   5,138   2,704
           세종특별자치시     11,313     20      4      47      37      18      31
           울산광역시       50,134    180     30     281     195     108     256
           인천광역시      115,817    292     70     958     353   1,640     544
           전라남도        82,774    267    125     456     576     259     459
           전라북도        82,317    391    101     466     530     369     491
           제주특별자치도     41,459    181     36     175     241     166     186
           충청남도        97,599    308    128     556     514     722     453
           충청북도        74,301    287     75     402     425     476     378
           합계       2,295,565  7,450  1,605  13,299   9,817  15,649  12,897

                    감정평가사 건강보조식품가게  건어물가게  ...     편의점 피부ㆍ비뇨기과 의원   피부관리업  \
year month city                            ...
2019 1     강원도         29      496    667  ...   1,589         58     951
           경기도        358    2,496    797  ...   9,558        793   7,548
           경상남도        56      988    723  ...   2,804        165   2,399
           경상북도        19      886    658  ...   1,808         98   1,390
           광주광역시       32      397    167  ...   1,010        126   1,406
           대구광역시       55      590    162  ...   1,441        202   1,395
           대전광역시       29      439    113  ...   1,068        109   1,083
           부산광역시       56      801    507  ...   2,346        325   2,453
           서울특별시      240    2,080    752  ...   7,803      1,294   6,690
           세종특별자치시     12       34     14  ...     231         14     140
           울산광역시       20      208    126  ...     843         76     695
           인천광역시       73      617    368  ...   2,088        167   1,880
           전라남도        18      499    888  ...   1,071         72   1,227
           전라북도        41      701    350  ...   1,163         89   1,043
           제주특별자치도     14      152    111  ...   1,058         39     632
           충청남도        35    1,201    630  ...   2,074         95   1,167
           충청북도        28      439    110  ...   1,411         72     974
           합계       1,115   13,024  7,143  ...  39,366      3,794  33,073

                       피시방 한방병원ㆍ한의원    한식전문점   헬스클럽   호프전문점   화장품가게   휴대폰가게
year month city
2019 1     강원도         420      357   19,271    205   1,485   1,070     588
           경기도       2,413    3,155   77,957  1,680   7,127   7,771   3,901
           경상남도        678      807   31,752    386   1,539   2,434   1,292
           경상북도        593      635   29,086    343   1,068   1,871   1,086
           광주광역시       426      416    9,558    216   2,406   1,118     588
           대구광역시       587      880   19,565    355     587   2,167   1,005
           대전광역시       332      527   11,507    224   1,016   1,220     680
           부산광역시       662    1,143   23,703    490   1,839   2,496   1,396
           서울특별시     1,731    3,679   52,736  1,704   7,403   6,811   2,986
           세종특별자치시      42       75    1,928     36     165     131      74
           울산광역시       297      287   10,801    132     353     955     505
           인천광역시       539      679   17,058    381   1,824   1,449     904
           전라남도        375      402   17,262    162   2,458   1,057     619
           전라북도        448      538   13,973    213   1,377   1,399     733
           제주특별자치도     177      192    8,494    104     590     694     213
           충청남도        431      522   19,065    264   1,728   1,287     845
           충청북도        329      401   15,008    249   1,812   1,032     539
           합계       10,480   14,695  378,724  7,144  34,777  34,962  17,954

[18 rows x 101 columns]

In [35]:
data.loc[(slice(None),slice(None),), :]['가구점']

year  month  city
2019  1      강원도          300
             경기도        1,873
             경상남도         564
             경상북도         461
             광주광역시        214
             대구광역시        371
             대전광역시        214
             부산광역시        512
             서울특별시      1,015
             세종특별자치시       20
             울산광역시        180
             인천광역시        292
             전라남도         267
             전라북도         391
             제주특별자치도      181
             충청남도         308
             충청북도         287
             합계         7,450
Name: 가구점, dtype: object

In [33]:
data['서울특별시']

KeyError: '서울특별시'

In [9]:
# File
M+=1
FILE = './1920_processed/{year}_{month}_processed.csv'.format(year=YYYY, month=M) 
    
# Read CSV
data2 = pd.read_csv(FILE,encoding='utf-8')

data2 = data2.drop(columns = data2.columns[0])
data2

,A. 도시명,B. 업종전체,가구점,가스충전소,가전제품수리점,가전제품판매점,간이주점,간판광고물업,감정평가사,건강보조식품가게,...,편의점,피부ㆍ비뇨기과 의원,피부관리업,피시방,한방병원ㆍ한의원,한식전문점,헬스클럽,호프전문점,화장품가게,휴대폰가게
0,합계,"2,326,567","7,490","1,614","14,609","9,970","15,298","12,943","1,125","13,133",...,"40,139","3,846","34,524","10,387","14,774","381,505","7,293","34,499","35,066","18,003"
1,서울특별시,"464,744","1,027",77,"2,367","1,539","5,012","2,696",242,"2,085",...,"7,894","1,312","6,901","1,718","3,699","52,995","1,748","7,292","6,759","3,014"
2,인천광역시,"117,732",290,71,"1,045",364,"1,587",540,75,634,...,"2,121",171,"1,955",531,687,"17,260",389,"1,808","1,445",913
3,경기도,"530,893","1,902",381,"4,119","1,855","2,963","3,136",362,"2,557",...,"9,835",807,"7,946","2,402","3,185","78,644","1,729","7,128","7,824","3,922"
4,강원도,"83,363",304,94,486,452,434,507,30,497,...,"1,624",57,"1,001",428,358,"19,336",208,"1,458","1,082",584
5,대전광역시,"68,695",214,38,502,299,72,397,28,448,...,"1,085",110,"1,122",329,524,"11,508",227,"1,017","1,221",660
6,충청북도,"75,196",291,74,449,428,475,381,28,437,...,"1,416",74,"1,026",329,403,"15,096",256,"1,823","1,037",551
7,충청남도,"98,811",299,128,625,517,719,454,36,"1,212",...,"2,123",98,"1,223",437,527,"19,239",265,"1,697","1,317",860
8,세종특별자치시,"11,768",19,4,56,37,18,29,12,38,...,243,15,152,40,73,"1,989",35,167,140,71
9,광주광역시,"68,951",214,39,445,347,186,437,32,393,...,"1,022",124,"1,479",418,414,"9,669",220,"2,401","1,124",577
10,전라북도,"83,088",390,101,508,532,337,497,41,698,...,"1,185",89,"1,086",436,538,"14,094",220,"1,357","1,412",732
11,전라남도,"83,436",267,123,493,581,257,468,18,490,...,"1,102",72,"1,270",377,403,"17,409",163,"2,417","1,050",613
12,대구광역시,"112,294",374,45,704,522,301,780,54,595,...,"1,494",201,"1,469",576,880,"19,621",363,568,"2,158","1,022"
13,경상북도,"126,587",465,163,518,696,403,644,19,887,...,"1,848",104,"1,441",579,644,"29,203",341,"1,034","1,883","1,074"
14,부산광역시,"154,187",510,57,923,623,"1,007",841,56,804,...,"2,386",327,"2,545",659,"1,148","23,999",496,"1,840","2,493","1,386"
15,울산광역시,"50,524",178,31,301,195,111,257,21,215,...,868,76,740,287,284,"10,868",136,358,978,506
16,경상남도,"154,097",563,151,876,740,"1,248",688,57,985,...,"2,815",167,"2,500",671,815,"32,038",393,"1,511","2,455","1,298"
17,제주특별자치도,"42,201",183,37,192,243,168,191,14,158,...,"1,078",42,668,170,192,"8,537",104,623,688,220

In [13]:
data3 = pd.concat([data,data2], axis = 0)
data3

,A. 도시명,B. 업종전체,가구점,가스충전소,가전제품수리점,가전제품판매점,간이주점,간판광고물업,감정평가사,건강보조식품가게,...,편의점,피부ㆍ비뇨기과 의원,피부관리업,피시방,한방병원ㆍ한의원,한식전문점,헬스클럽,호프전문점,화장품가게,휴대폰가게
0,합계,"2,305,692","7,473","1,606","13,495","9,891","15,542","12,905","1,115","13,068",...,"39,586","3,815","33,474","10,464","14,722","379,459","7,205","34,627","35,067","17,998"
1,서울특별시,"461,009","1,015",76,"2,234","1,524","5,103","2,701",241,"2,082",...,"7,833","1,305","6,749","1,727","3,691","52,817","1,712","7,359","6,817","2,985"
2,인천광역시,"116,392",291,70,974,360,"1,623",545,73,620,...,"2,094",169,"1,917",535,678,"17,081",382,"1,831","1,451",900
3,경기도,"523,587","1,880",373,"3,784","1,829","2,978","3,115",358,"2,517",...,"9,649",796,"7,651","2,402","3,170","78,132","1,699","7,113","7,782","3,904"
4,강원도,"82,869",302,93,459,443,435,505,30,495,...,"1,598",58,964,419,357,"19,284",204,"1,478","1,078",594
5,대전광역시,"68,310",213,38,474,297,75,393,28,442,...,"1,069",110,"1,089",331,527,"11,524",228,"1,008","1,216",688
6,충청북도,"74,571",288,75,419,425,475,379,28,437,...,"1,411",72,993,334,400,"15,028",253,"1,803","1,040",545
7,충청남도,"97,898",308,128,562,516,720,449,35,"1,207",...,"2,099",95,"1,180",436,523,"19,116",266,"1,720","1,301",851
8,세종특별자치시,"11,441",20,4,47,37,19,31,12,37,...,229,15,142,40,74,"1,943",36,168,134,76
9,광주광역시,"68,245",212,41,401,342,187,442,32,399,...,"1,016",126,"1,424",424,417,"9,578",217,"2,394","1,118",586
10,전라북도,"82,532",391,101,456,527,360,494,41,701,...,"1,169",89,"1,060",443,538,"14,005",216,"1,376","1,411",734
11,전라남도,"83,006",268,124,453,580,258,463,18,500,...,"1,077",72,"1,235",377,401,"17,298",167,"2,441","1,062",614
12,대구광역시,"111,380",373,44,659,524,307,779,54,589,...,"1,448",203,"1,405",587,880,"19,578",358,578,"2,177","1,011"
13,경상북도,"125,839",461,164,489,694,405,640,19,887,...,"1,820",99,"1,400",590,635,"29,090",344,"1,055","1,877","1,090"
14,부산광역시,"153,305",519,57,824,624,"1,024",836,56,803,...,"2,357",326,"2,482",668,"1,145","23,786",493,"1,828","2,511","1,397"
15,울산광역시,"50,337",183,30,281,194,110,258,20,210,...,854,76,708,295,286,"10,829",134,354,964,503
16,경상남도,"153,264",566,152,802,731,"1,297",687,56,985,...,"2,803",165,"2,429",681,807,"31,852",390,"1,531","2,440","1,305"
17,제주특별자치도,"41,707",183,36,177,244,166,188,14,157,...,"1,060",39,646,175,193,"8,518",106,590,688,215
0,합계,"2,326,567","7,490","1,614","14,609","9,970","15,298","12,943","1,125","13,133",...,"40,139","3,846","34,524","10,387","14,774","381,505","7,293","34,499","35,066","18,003"
1,서울특별시,"464,744","1,027",77,"2,367","1,539","5,012","2,696",242,"2,085",...,"7,894","1,312","6,901","1,718","3,699","52,995","1,748","7,292","6,759","3,014"
2,인천광역시,"117,732",290,71,"1,045",364,"1,587",540,75,634,...,"2,121",171,"1,955",531,687,"17,260",389,"1,808","1,445",913
3,경기도,"530,893","1,902",381,"4,119","1,855","2,963","3,136",362,"2,557",...,"9,835",807,"7,946","2,402","3,185","78,644","1,729","7,128","7,824","3,922"
4,강원도,"83,363",304,94,486,452,434,507,30,497,...,"1,624",57,"1,001",428,358,"19,336",208,"1,458","1,082",584
5,대전광역시,"68,695",214,38,502,299,72,397,28,448,...,"1,085",110,"1,122",329,524,"11,508",227,"1,017","1,221",660
6,충청북도,"75,196",291,74,449,428,475,381,28,437,...,"1,416",74,"1,026",329,403,"15,096",256,"1,823","1,037",551
7,충청남도,"98,811",299,128,625,517,719,454,36,"1,212",...,"2,123",98,"1,223",437,527,"19,239",265,"1,697","1,317",860
8,세종특별자치시,"11,768",19,4,56,37,18,29,12,38,...,243,15,152,40,73,"1,989",35,167,140,71
9,광주광역시,"68,951",214,39,445,347,186,437,32,393,...,"1,022",124,"1,479",418,414,"9,669",220,"2,401","1,124",577
10,전라북도,"83,088",390,101,508,532,337,497,41,698,...,"1,185",89,"1,086",436,538,"14,094",220,"1,357","1,412",732
11,전라남도,"83,436",267,123,493,581,257,468,18,490,...,"1,102",72,"1,270",377,403,"17,409",163,"2,417","1,050",613
12,대구광역시,"112,294",374,45,704,522,301,780,54,595,...,"1,494",201,"1,469",576,880,"19,621",363,568,"2,158","1,022"
13,경상북도,"126,587",465,163,518,696,403,644,19,887,...,"1,848",104,"1,441",579,644,"29,203",341,"1,034","1,883","1,074"
14,부산광역시,"154,187",510,57,923,623,"1,007",841,56,804,...,"2,386",327,"2,545",659,"1,148","23,999",496,"1,840","2,493","1,386"
15,울산광역시,"50,524",178,31,301,195,111,257,21,215,...,868,76,740,287,284,"10,868",136,358,978,506
16,경상남도,"154,097",563,151,876,740,"1,248",688,57,985,...,"2,815",167,"2,500",671,815,"32,038",393,"1,511","2,455","1,298"
17,제주특별자치도,"42,201",183,37,192,243,168,191,14,158,...,"1,078",42,668,170,192,"8,537",104,623,688,220

In [12]:
?pd.concat

In [14]:
?MultiIndex

Object `MultiIndex` not found.

In [19]:
[2019 for x in range(101)]

[2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019]

In [21]:
[YYYY]*101

[2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019]

In [22]:
data.columns

Index(['A. 도시명', 'B. 업종전체', '가구점', '가스충전소', '가전제품수리점', '가전제품판매점', '간이주점',
       '간판광고물업', '감정평가사', '건강보조식품가게',
       ...
       '편의점', '피부ㆍ비뇨기과 의원', '피부관리업', '피시방', '한방병원ㆍ한의원', '한식전문점', '헬스클럽',
       '호프전문점', '화장품가게', '휴대폰가게'],
      dtype='object', length=102)

In [18]:
level0_idx = [YYYY for x in range(101)]
level1_idx = []
#df1 = df1.set_index(['ind1','ind2'])  
# 리스트 형식으로 인덱스에 동시 전달 가능
# df1.index = [df1['ind1'], df1['ind2']]  
# df1.drop(['ind1','ind2'],axis=1)

SyntaxError: invalid syntax (<ipython-input-18-80dc3ba8d29f>, line 2)