In [1]:
%ls .

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 7ADB-077C

 C:\Users\32174937\BigData\기말전과제\preprocessed_notebook 디렉터리

2021-06-01  오전 12:45    <DIR>          .
2021-06-01  오전 12:45    <DIR>          ..
2021-05-31  오후 11:00    <DIR>          .ipynb_checkpoints
2021-06-01  오전 12:44            76,213 2020_2_total.csv
2021-05-31  오후 10:31             6,636 Data_preprocessing_Auto.ipynb
2021-06-01  오전 12:45            81,820 Data_preprocessing1.ipynb
2021-05-31  오후 09:09            90,233 Data_preprocessing1-M45.ipynb
2021-06-01  오전 12:45           113,758 Data_processing_reshape.ipynb
2021-06-01  오전 12:45            36,621 Data_processing_reshape_total.ipynb
2021-05-31  오후 08:48             1,363 Readme.md
               7개 파일             406,644 바이트
               3개 디렉터리  797,884,006,400 바이트 남음

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [77]:
YYYY=2019
M=2

In [72]:
# File
FILE = '../1920_preprocessed/{year}_{month}_total.csv'.format(year=YYYY, month=M) 
    
# Read CSV
data = pd.read_csv(FILE,encoding='utf-8')

data = data.drop(columns = data.columns[0])
    
# 초기화
data_part0 = data[0:18]
data_part0 = data_part0.sort_index().reset_index(drop=True)
colName = data_part0['corp'][0]
data_part0 = data_part0.rename(columns={'2':colName})
data_part0 = data_part0.drop(columns=data_part0.columns[0])
result = data_part0
    
# Data processing
start = 18
end = 36
while(end <= 1818):
    data_part = data[start:end]
    data_part = data_part.sort_index().reset_index(drop=True)
    colName = data_part['corp'][0]
    data_part = data_part.rename(columns={'2':colName})
    data_part = data_part.drop(columns=data_part.columns[0])
    result = pd.merge(result, data_part)
    
    start += 18
    end += 18
    
    
result = result.rename(columns={'LPG충전소':'가스충전소'})
result = result.rename(columns={'pc방':'피시방'})
result = result.rename(columns={'city':'A. 도시명'})
result = result.rename(columns={'업종전체':'B. 업종전체'})
result = result.sort_index(axis=1)
result

,A. 도시명,B. 업종전체,가구점,가스충전소,가전제품수리점,가전제품판매점,간이주점,간판광고물업,감정평가사,건강보조식품가게,...,편의점,피부ㆍ비뇨기과 의원,피부관리업,피시방,한방병원ㆍ한의원,한식전문점,헬스클럽,호프전문점,화장품가게,휴대폰가게
0,합계,"2,305,692","7,473","1,606","13,495","9,891","15,542","12,905","1,115","13,068",...,"39,586","3,815","33,474","10,464","14,722","379,459","7,205","34,627","35,067","17,998"
1,서울특별시,"461,009","1,015",76,"2,234","1,524","5,103","2,701",241,"2,082",...,"7,833","1,305","6,749","1,727","3,691","52,817","1,712","7,359","6,817","2,985"
2,인천광역시,"116,392",291,70,974,360,"1,623",545,73,620,...,"2,094",169,"1,917",535,678,"17,081",382,"1,831","1,451",900
3,경기도,"523,587","1,880",373,"3,784","1,829","2,978","3,115",358,"2,517",...,"9,649",796,"7,651","2,402","3,170","78,132","1,699","7,113","7,782","3,904"
4,강원도,"82,869",302,93,459,443,435,505,30,495,...,"1,598",58,964,419,357,"19,284",204,"1,478","1,078",594
5,대전광역시,"68,310",213,38,474,297,75,393,28,442,...,"1,069",110,"1,089",331,527,"11,524",228,"1,008","1,216",688
6,충청북도,"74,571",288,75,419,425,475,379,28,437,...,"1,411",72,993,334,400,"15,028",253,"1,803","1,040",545
7,충청남도,"97,898",308,128,562,516,720,449,35,"1,207",...,"2,099",95,"1,180",436,523,"19,116",266,"1,720","1,301",851
8,세종특별자치시,"11,441",20,4,47,37,19,31,12,37,...,229,15,142,40,74,"1,943",36,168,134,76
9,광주광역시,"68,245",212,41,401,342,187,442,32,399,...,"1,016",126,"1,424",424,417,"9,578",217,"2,394","1,118",586
10,전라북도,"82,532",391,101,456,527,360,494,41,701,...,"1,169",89,"1,060",443,538,"14,005",216,"1,376","1,411",734
11,전라남도,"83,006",268,124,453,580,258,463,18,500,...,"1,077",72,"1,235",377,401,"17,298",167,"2,441","1,062",614
12,대구광역시,"111,380",373,44,659,524,307,779,54,589,...,"1,448",203,"1,405",587,880,"19,578",358,578,"2,177","1,011"
13,경상북도,"125,839",461,164,489,694,405,640,19,887,...,"1,820",99,"1,400",590,635,"29,090",344,"1,055","1,877","1,090"
14,부산광역시,"153,305",519,57,824,624,"1,024",836,56,803,...,"2,357",326,"2,482",668,"1,145","23,786",493,"1,828","2,511","1,397"
15,울산광역시,"50,337",183,30,281,194,110,258,20,210,...,854,76,708,295,286,"10,829",134,354,964,503
16,경상남도,"153,264",566,152,802,731,"1,297",687,56,985,...,"2,803",165,"2,429",681,807,"31,852",390,"1,531","2,440","1,305"
17,제주특별자치도,"41,707",183,36,177,244,166,188,14,157,...,"1,060",39,646,175,193,"8,518",106,590,688,215

In [4]:
YYYY=2019
M=1
while(YYYY<2021):
    # File
    FILE = '../1920_preprocessed/{year}_{month}_total.csv'.format(year=YYYY, month=M) 
    
    # Read CSV
    data = pd.read_csv(FILE,encoding='utf-8')
    
    data = data.drop(columns = data.columns[0])
    
    # 초기화
    data_part0 = data[0:18]
    data_part0 = data_part0.sort_index().reset_index(drop=True)
    colName = data_part0['corp'][0]
    data_part0 = data_part0.rename(columns={'2':colName})
    data_part0 = data_part0.drop(columns=data_part0.columns[0])
    result = data_part0
    
    # Data processing
    start = 18
    end = 36
    while(end <= 1818):
        data_part = data[start:end]
        data_part = data_part.sort_index().reset_index(drop=True)
        colName = data_part['corp'][0]
        data_part = data_part.rename(columns={'2':colName})
        data_part = data_part.drop(columns=data_part.columns[0])
        result = pd.merge(result, data_part)
    
        start += 18
        end += 18
    
    
    # 컬럼 처리
    result = result.rename(columns={'LPG충전소':'가스충전소'})
    result = result.rename(columns={'pc방':'피시방'})
    result = result.rename(columns={'city':'A. 도시명'})
    result = result.rename(columns={'업종전체':'B. 업종전체'})
    result = result.sort_index(axis=1)
    
    # Save to csv
    result.to_csv('../1920_processed/{year}_{month}_processed.csv'.format(year=YYYY,month=M),sep=',',encoding='utf-8') 
    
    
    #print(result)
    
    if(M + 1 >= 13): # M=12 Next year
        M = 1
        YYYY += 1
    else :     
        M += 1